@font-face {
    font-family: 'SFProDisplay';
    src: url('src/fonts/SFProDisplay.otf/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    height: 100%;
    margin: 0;
    font-family:'SFProDisplay', sans-serif;
}

span {
  visibility: none;
}

.bg-custom {
    background-color: #06192D;
  }
  
.text-custom {
    color: #06192D;
  }


.full-height {
    height: 100vh;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.ms-6 {
  margin-left: 65px;
}

.ms-9 {
  margin-left: 118px;
}

.error-message {
  display: none;
}

.error {
  color: red;
  display: block;
}