@font-face {
    font-family: 'SFProDisplay';
    src: url('src/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

html, body {
    height: 100%;
    margin: 0;
    font-family:'SFProDisplay', sans-serif;
}

span {
  visibility: none;
}

.bg-custom {
    background-color: #06192D;
  }
  
.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.ms-6 {
  margin-left: 65px;
}

.ms-9 {
  margin-left: 118px;
}

.mb-6 {
  margin-bottom: 2rem;
}

.error-message {
  display: none;
}

.error {
  color: red;
  display: block;
}

.form-label {
  margin-bottom: 0;
}

.form-data {
  padding: 1em;
  border-radius: 10px;
  border: none;
}

.btn {
  align-items: center;
}